Scheduler property

From the review by Lars Eggert, DISCUSS part:

### Section 8.1.5, paragraph 4
```
    Default:  Weighted Fair Queueing (see Section 3.6 in [RFC8260])

    This property specifies which scheduler should be used among
    Connections within a Connection Group, see Section 7.4.  A set of
    schedulers is described in [RFC8260].
```
What is this scheduler scheduling? 7.4 is silent on this. I'm guessing
this is related to `connPriority`?

Suggested answer:
Yes, thank you; we clarified this in the text.