Terminology (our capitalized terms)

Our terms like "Connection", "Message" and such: this terminology must be defined somewhere. IMO the architecture draft is a good home for this.

At first, I thought we can just deal with this via a citation of one of our earlier RFCs, but alas the lists there are incomplete. RFC 8095 defines Transport Feature, Transport Service, and Transport Protocol, and Application. RFC 8303 adds a lot of things to this - including Connection, but also Primitive, Event, Socket...  RFC 8923 again has a little less, but it does add Connection Group.

So, my suggestion: copy+paste the relevant bits from these RFCs into arch, and also add Message (which doesn't seem to be defined anywhere).

Maybe also define "stream" ?

Sorry, my mistake about "Message": I now see that this is among a long list of things that are defined later in the document. Message is in section 4.1.5.

Not as a Socket concept that is used for TAPS, but only as a reference to BSD socket interface which also has a reference, so not a term that needs to be defined I think.

Thinking more about this: I reacted to seeing capitalized words such as Connection and Message before these terms are introduced, specifically in the last item in the list in section 1.2. Solutions might be:
1) avoiding capitalization before the definition (which may lead to logical inconsistencies... but maybe sentences could be rephrased ... the last sentence of this item seems to be a way out, with a brief in-line explanation of what a Connection is, but then it refers to capitalized Messages, complicating things again.
2) perhaps just writing a disclaimer early in the text, stating something along the lines of: "In this document, capitalized terms (e.g. Connection, Message, ..) refer to distinct concepts of the architecture. These are defined in Sections ...."

?