Peer user timeout

sec 7.2
perhaps I'm not thinking of this correctly, but should there be a way to query the peer-offered user timeout?

This looks protocol-specific (it's not a generic transport function). QUIC could let you query it in a protocol-specific property.

Proposing moving to the QUIC mapping doc.

I agree with addressing this in the QUIC mapping doc, but for clarification: this is protocol-specific already (it's about a protocol-specific TCP property), and I added a clarification that the API calls reflect the API specified in Section 3 of RFC 5482 (which doesn't include this functionality).

=> I agree that allowing to query the peer's UTO might be useful, but it's probably not worth adding more text for this, as I also suspect that nobody will implement this for TCP anyway (even the underlying logic from RFC 5482 isn't widely available either AFAIK). If someone does, they are still free to allow querying whatever they like ... but IMO, we shouldn't make this document longer with more protocol-specific elements than we absolutely need to include.

Can we close the Peer user timeout with no-action?

I temporarily gave this a "discuss" label to see if it provokes people to have a 1-minute chat about closing this. This didn't happen, so now I just closed it.