Two nits in -impl

From the review by Erik Kline:

## Nits

### <many>

* s/2001:DB8::/2001:db8::/g

  RFC 5952 section 4.3.

I don't get why this says "many" in a subheading, and why the sub-sub heading isn't rendered here. This is the unformatted original:

```
## Nits

### <many>

(followed by s/2001....  etc., as above)
```
