Are scoped IPv6 address (and zone indexes in particular) supported?

Sections 4.1 and 4.1.3 introduce `WithIPv6Address` to configure an Endpoint Object. The address supplied in examples appears to be an address literal. However, Section 1.1 does not define any types explicitly associated with an internet address -- `Integer` or `Numeric` could work, but I don't think that's the intent for these APIs, either. Section 3.2.2 does not extend this. 

It's unclear whether this literal is intended to support IPv6 scoped addresses as described in [RFC4007]. While this RFC describes a textual representation (possibly not in line with the goals of the API), [RFC6874] describes how to represent zone indexes in an address literal.

If zone indexes are not intended to be supported, this could be clarified by, when "IPv4 and IPv6 address" is mentioned in section 4.1, also citing [RFC791] and [RFC4007] with the respective address family.

If zone indexes _are_ intended to be supported, ambiguity exists around the use of `WithIPv6Address` and `WithInterface` on a Local Endpoint, where the supplied address has a zone index that does not match the supplied interface. This could be clarified by:

 1. Defining type names that represent IPv4 and IPv6 addresses in section 1.1.
 2. Specifying the properties of an address literal supported by that type (referencing [RFC791] for IPv4 and both [RFC4007] and [RFC6874] for IPv6).
 3. Clarifying in section 4.1 that "IPv4 or IPv6 address" are of the respective type described in section 1.1 when used in `WithIPv4Address` or `WithIPv6Address`.
 4. Clarifying the behavior of zone index and interface choices on a Local Endpoint in a new section 4.1.4. This may tie in to #859 to some extent in that this is unlikely to be discoverable until `Initiate` is called.

[RFC791]: https://datatracker.ietf.org/doc/html/rfc791
[RFC4007]: https://datatracker.ietf.org/doc/html/rfc4007
[RFC6874]: https://datatracker.ietf.org/doc/html/rfc6874

(note this is in §6.1/6.1.3 post-#869)

Mention that the %en0 addition to the IPv6 address is equivalent to explicitly setting WithInterface.

Also mention that these are implied to be system types for addresses