S7.3.3.1. UDP(-Lite)-specific Property: ECN - Motivation

I think this protocol specific Property is only included because it comes from RFC8923? Should be made clear in the text.

Yes.
Just for clarification: RFC 8923 takes this from RFC 8304, which takes it from RFC 8085.

How about something like: " [RFC8293] following the guidance in [RFC8085] "?