Detailed author review of Arch text for -03 to prepare -04

TAPS Architecture - Additional comments on rev -03 (detailed read-through).

Note: This adds to my previous set of review issues - these could be handled at the same time.

Section 1 :
- Can we make reading easier:
“This flexibility does not only enable
   faster deployment of new feature and protocols, but it can also
   support applications with racing and fallback mechanisms which
   otherwise need to be implemented in each application separately.”
- suggest:
“This flexibility enables
   faster deployment of new feature and protocols,. It can also
   support applications with racing and fallback mechanisms, which
   otherwise need to be implemented in each application separately.””
—
“Although following the Transport
   Services Architecture does of course not mean that “
- do we need /of course/ (this reads oddly).
—
“from one system to the another”
- should be:
“from one system to another”
==========
Section 1.1 :
“The model of using sockets for networking can be represented as
   follows”
- could we insert “traditional” or “existing” or something like that before “model”, since a new reader may not realise this is the description of what exists rather what this document develops?
—
“, which provides the interface to the implementations of
   UDP and TCP (typically implemented in the system's kernel), which in
   turn send data over the available network layer interfaces.”
- Two “, which” in a long sentence, could we write:
- “. This API provides the interface to the implementations of
   UDP and TCP (typically implemented in the system's kernel), which in
   turn send data over the available network layer interfaces.”
—
“The Implementation”
- Is capitalised “I” needed?
—
“for mapping the API into the various available transport”
- Is this “into” or “to”  - I think the interface maps to these?
—
“There are a few key departures that Transport Services makes from the
   sockets API:”
- a “few key” seems odd to me in a spec.
“There are key differences between the architecture of the Transport Services system and the architecture of the sockets API:” - or something like that?
==========
Section 1.2 :
“and changes to available network links”:
- insert “the” and “to” so it does not mean that it makes the change:
- “and changes in the available network links”
—
Section 1.3 :
“HTTP/1.1 uses character delimiters to segment messages
   over a stream; TLS record headers carry a version, content type, and
   length; and HTTP/2 uses”
- I think this needs text needs several references to the specs?
==========
Section 3 :
“   The following considerations were used in the design of this
   architecture.”
- If these were only a list of considerations, then we we do not need “RFC2119” language after all in this section. If they are actually the basis of the architecture, then we need to change the words “considerations” to “requirements” or something. I actually think it is helpful for the basis for the design should be expressed in RFC2119 language.
-  I suggest the best option could be simply to omit the sentence?
—
“that include some transport security
   protocol are eligible to be used.”
- The word “some” is wrong, and also “protocol”.
- I think this should be “a transport security function”? 
—
Section 3.3 :
“The abstract API definition
   [I-D.ietf-taps-interface] describes this interface and is aimed at
   application developers.”
- “aimed at” seems odd because of “and” and “aimed”.
“The abstract API definition
   [I-D.ietf-taps-interface] describes this interface. This is expected to be utilised by
   application developers.”
—
“It is expected that all
   implementations of Transport Services will offer the entire mandatory
   API, but that some features will not be functional in certain
   implementations.”
- This seems to me to still be possible to read the “mandatory” part os optional, which can’t be. Is it also OK to say this instead:
“It is expected that all
   implementations of Transport Services system will offer the entire mandatory
   API. However, some features provided below the API may not be functional in certain
   implementations.”
—
“All implementations are REQUIRED to offer
   sufficient APIs to use the distilled minimal set of features offered
   by transport protocols  ...“
- What does the plural “APIs” mean?
- I suggest we write:
“All implementations are REQUIRED to offer
   an API that is sufficient to provide the distilled minimal set of features offered
   by transport protocols …”
—
“, but it is possible that some very
   constrained devices might not have, for example, a full TCP
   implementation beneath the API.”
- I’m not fond of RFC2119 constructs that include an exception clause. Could we write this instead?
“For example, it is possible that some very
   constrained devices might not have, for example, a full TCP
   implementation beneath the API [I.D.ietf-lwig-tcp-constrained-node-networks-07].”
- This ref is I believe in cross-WG WGLC and should now be stable.
—
“It is expected that this document will be
   updated and supplemented as new protocols and protocol features are
   developed.”
- could we replace “this document” by the [REF], to avoid the possibility of misreading/misquoting it as the architecture document itself?
—
“defines new protocols that require any changes
   to a remote system.”
- to me the first part here is that there is no implementation work required at the RECEIVER. I think that should be clear. 
—
“ The Transport Services system MUST be deployable
   on one side only.”
- I think the second point is that it can be deployed in this way which places design constraints on the system, specifically that the SENDER is a one-sided system. Is it possible we could put this in a separate para instead, e.g.
“The Transport Services system MUST be deployable
   on one side only. A Transport Services system implemented at the sending endpoint can communicate with a remote endpoint on any existing system that implements the transport protocol(s) selected by the TAPS System. Similarly a Transport Services system at a listening endpoint can communicate using a using a transport protocol at a sending endpoint implemented in an existing system.”
==========
Section 4.1 :
“establish
   communication and send and receive data.”
- insert comma after “communication” or “then” after first “and”
—
“A Preconnection can be fully specified and
      represent a single possible Connection”
- is this /represents/?
—
“The Remote Endpoint MUST be specified in the
      Preconnection is used to Initiate connections.”
- seems broken English, Is this:
“The Remote Endpoint MUST be specified if a
      Preconnection is used to Initiate connections.”
—
in 4.1.2:
“Changes made
      to Connection Properties after establishment take effect on a
      best-effort basis.”
- My understanding was that this does **not** change the protocol selection, but can change the way the protocol uses the path. If I was correct, then it would be good to add a sentence to say this.
—
In 4.1.3:
“prepare any required
      local or remote state to be able to send and/or receive Messages.”
- what becomes able? 
“prepare any required
      local or remote state to enable the endpoint to send and/or receive Messages.”
—
In 4.1.4:
“If a received Message is incomplete or corrupted, it
      might or might not be usable by certain applications.”
- I agree this is possible, but I’d like to assert this really must **not** be the default and it is important to highlight that. Is it possible to say: “If a received Message is incomplete or corrupted, the default action is to not pass the data to the application. A certain application can override this default and the data might or might not be usable by that application.” 
—
“Message Properties can be used to annotate specific Messages.  “
- I agree, however I think it is really  important to say that these annotations for sending exist only within the Local Endpoint and doe not cause additional bytes to be communicated to the Remote Endpoint. For example, they could change the DSCP, for instance. [[We need to choose words carefully, because the the DSCP is actually communicated across the path and could be sent end-to-end, but it is **not** additional data added to the message on the wire .]]
—
“When receiving Messages, Message
      Properties can contain per-protocol properties.”
- Again, I think it is important to say the Remote Endpoint can add per-protocol properties to the messages it receives.
—
“properties specific to how the Message's content
      is to be sent. “
- I think we should delete the apostrophe,  or alternatively we could write “content of the message”.
—
“Status of the Send operation can be delivered back
      to the application in an event (Section 4.1.5).”
- could be :
“The Status of the Send operation can be delivered back
      to the sending application in an event (Section 4.1.5).“
—
In 4.1.5:
“This list of events that can be delivered to an application is not
   exhaustive, but gives the top-level categories of events.”
Could be:
“This section provides the top-level categories of events events that can be delivered to an application. This list is not
   exhaustive.”
—
In 4.2:
“The Transport System Implementation Concepts”
- We do not need to define this as a capitalised term.
—
“are allowed be multiplexed”
- insert /to/ before /be/.
—
“Applications can use can use their explicitly defined”
- please rephrase:
“An application can explicitly define “
—
“including
      any state it has necessary”
- please remove /it has/
—
“and a Transport Services system's policies and
      heuristics.”
- could we instead write:
“and the heuristics or policies of the Transport Services system.”
—
In 4.2.3:
“Transitioning between different Protocol Stacks is in some
   cases controlled by properties that only change when application code
   is updated.  “ - is this statement about the present case, or the case with TAPS, this is not clear, but I think the former?
—
“This functionality
   can be a powerful driver of new protocol adoption, but needs to”
- I agree - is it protocol or stack functionality, I think this could be better as:
“This functionality in the API
   can be a powerful driver of new protocol adoption, but needs to”
—
“Both stacks MUST offer the same transport services”
- this could use a reference to mindset perhaps? 
—
1.
Could better with a reference. We could use  [RFC8303] and [RFC8304] to contrast the two?
—
2.
“However, if the
       application does not require reliability, then a Protocol Stack
       that adds unnecessary reliability might be allowed as an
       equivalent Protocol Stack as long as it does not conflict with
       any other application-requested properties.”
- allowing or not allowing seems odd, could we write:
3.
“However, if the
       application does not require reliability, then a Protocol Stack
       that adds reliability could be regarded as an
       equivalent Protocol Stack providing this would not conflict with
       other application-requested properties.”
—
In 4.2.4:
“properties of the Implementation”
- implementation should not be capitalised.
—
“Transport System Implementation”
- implementation should not be capitalised.
—
“The interface to specify these Groups”
-groups should not be capitalised.
—
Normative references:
[I-D.ietf-taps-interface]
[RFC8174]
[RFC2119]

This was done!