Update implementation mapping text for SCTP

We've updated Implementation mapping details for most protocols with #333, but we didn't tackle SCTP yet.

I'm fine with this being assigned to me. However, it's more than just updating the SCTP text. Here's the relevant part of what I wrote in PR #333:

>  we should describe things focusing on the transport's API call to be made (in line with the spec - that's why we have RFCs 8303 and 8304) rather than protocol internals. E.g., rather than saying that Abort on a TCP connection transmits a RST, I think we should simply say that Abort calls ABORT.TCP [RFC 8303, Section 4.1].
> I can take care of these things, later. I'd still like to focus more on the API doc at this time.

I don't suggest to delete much of the text that's there but definitely amend it with the RFC reference at least for what's covered in RFC 8303. There's a very direct line from this type of text in RFC 8303 to the original specs, so I do believe that should be helpful.

That's (obviously) post-Montreal though!

@mwelzl: please send a PR along these lines.