Comments on DSCP text

- This issue comes from other discussion at the interim of what it means to map to DSCP classes, and proposes to fix two topics. 
- Replace reference
OLD:
DSCP Less than Best Effort [LE-PHB] PHB
NEW:
DSCP Less than Best Effort [RFC8622] PHB
—
Low Latency/Interactive:
- The current advice is wrong. An endpoint never should be assigning EF without understanding the implication of CAC and policing.
OLD:
Transport system implementations that map the requested capacity profile onto per-connection DSCP signaling without multiplexing SHOULD assign the DSCP Expedited Forwarding [RFC3246] PHB; 
NEW:
Transport system implementations that map the requested capacity profile onto per-connection DSCP signaling without multiplexing  SHOULD assign a DSCP Assured Forwarding (AF41,AF42,AF43,AF44) [RFC2597] PHB. Inelastic traffic that is expected to conform to the configured network service rate could be mapped to the DSCP Expedited Forwarding [RFC3246] or [RFC5865] PHBs.
—

The new text resolve this issue.