Default values

@gorryfair wrote, in now-closed issue #317:
"Could we also try to start a discussion about the set of default values in a seprate thread. I think we can address some of these quickly, albeit we wait for the list discussion (or wider consensus) on whether they are SHOULD or MUST."

So here I'm starting that thread, with a list of all the defaults that I found in the API draft. For the record, *I* (FWIW) agree with all of these choices.


Pre-establishment Transport Properties:
---------------------------------------
5.2.1 Reliable Data Transfer. Default Require Reliable Data Transfer
5.2.2 Preservation of Message Boundaries. Default Prefer Preservation of Message Boundaries
5.2.3 Configure Per-Message Reliability. Default Ignore
5.2.4 Preservation of Data Ordering. Default Require Preservation of data ordering
5.2.5 Use 0-RTT Session Establishment with an Idempotent Message. Default Ignore
5.2.6 Multistream Connections in Group. Default Prefer
5.2.7 Full Checksum Coverage on Sending. Default Require
5.2.8 Full Checksum Coverage on Receiving. Default Require
5.2.9 Congestion control. Default Require that the Connection is congestion controlled.
5.2.12 Parallel Use of Multiple Paths. Default Prefer
5.2.13 Direction of communication. Default Bidirectional
5.2.14 Notification of excessive retransmissions. Default Ignore
5.2.15 Notification of ICMP soft error message arrival. Default Ignore

Message Properties:
-------------------
7.4.1 Lifetime. Default infinite
7.4.2 Priority. Default 100
7.4.3 Ordered. Default true
7.4.4 Idempotent. Default false
7.4.5 Final. Default false
7.4.6 Corruption Protection Length. Default full coverage
7.4.7 Reliable Data Transfer (Message). Default true
7.4.8 Message Capacity Profile Override. Default: "No special optimizations of the tradeoff between delay, delay variation, and bandwidth efficiency should be made when sending this message."
7.4.9 Singular Transmission. Default false
7.5 Partial Sends. Default true

Generic Connection Properties:
------------------------------
11.1.1 Retransmission Threshold Before Excessive Retransmission Notification. Default -1, and text says "The special value -1 means that this notification is disabled."
11.1.2 Required Minimum Corruption Protection Coverage for Receiving. Default -1, and text says "the special value -1 indicates full checksum coverage."
11.1.3 Priority (Connection). Default 100
11.1.4 Timeout for Aborting Connection. Default -1, and text says "The special value -1 means that this timeout is not scheduled to happen."
11.1.5 Connection Group Transmission Scheduler. Default Weighted Fair Queueing (see Section 3.6 in RFC8260).
11.1.10 Capacity Profile. Default: "The application makes no representation about its expected capacity profile. No special optimizations of the tradeoff between delay, delay variation, and bandwidth efficiency should be made when selecting and configuring transport protocol stacks. Transport system implementations that map the requested capacity profile onto per-connection DSCP signaling without multiplexing SHOULD assign the DSCP Default Forwarding [RFC2474] PHB; when the Connection is multiplexed, the guidelines in Section 6 of [RFC7657] apply."
11.1.11 Bounds on Send or Receive Rate. Default -1 / -1 (unlimited, for both values)
11.1.12 TCP-specific Property: User Timeout.
  - Advertised User Timeout: default: the TCP default to be advertised via the UTO for the TCP at the remote endpoint to adapt its own "Timeout for aborting Connection" (see Section 11.1.4) value accordingly.
  - User Timeout Enabled. Default false  (controls whether UTO is used)
  - Changeable: Default true  (this controls whether incoming UTO can take effect)
All the parameters are optional, and when they are not specified, the TCP default will be used.


Experimental Transport Properties:
----------------------------------
B.1.1 Cost Preferences. Default "Balance Cost"


Some other things:
------------------
6.2 Listen, about SetNewConnectionLimit(value): "By default, this value is Infinite"
7 Sending data: "By default, Send enqueues a complete Message, and takes optional per-Message properties (see Section 7.1)."
8.1 Enqueuing Receives. By default, Receive will try to deliver complete Messages in a single event (Section 8.2.1).
minIncompleteLength parameter: default infinite
maxLength parameter: default infinite

I didn't check in detail, but I read this and only one thing appears unexpected, so that's good!

The odd one for me is:
5.2.12 Parallel Use of Multiple Paths. Default Prefer
- That's fine if I have two upstream prefixes to route over, but less obviously robust if I have different radio interfaces on different paths - where variability could be a real issue. The conservative option is not to prefer robustness over Multiple Paths.  (I was thinking that SCTP has failover rather than CMT as the default).

I think I also disagree with the text in 5.2.12 that states: "in most cases, this will improve performance (e.g., achieve greater throughput)" - or at least regard in "most cases" as being unhelpful generalisation without warning that this can increase brittleness, and increase variability. Maybe I'm surprised this category covers both 'failover' - which does increase robustness and reduce variability; and 'parallel use' - which tends to target opportunistic performance.


Default ignore.