Idempotency vs replay-safe  (from Kyle Rose's review)

_From Kyle:_
idempotency != replay-safe. DELETE is idempotent, but not safe for replay because someone might have done a PUT or POST in the meantime.

What I mean is maybe best illustrated by 0RTT in TLS or QUIC. If a user sends a 0RTT DELETE /object, followed by a PUT /object, then within the replay window and without any replay prevention at the application layer, an attacker could replay the 0RTT DELETE /object and cause the object to be deleted again. DELETE is idempotent but it's not safe to replay.

This seems to me to be a case of arrival of Message X, followed by Message Y, followed by Message X. I don't think that TFO, TLS or QUIC would by themselves do this - it's always about immediate repetition of the first Message only, isn't it?

Maybe we should just clarify that idempotency in our case means that a Message may arrive multiple times **with nothing in between** on the same Connection. Thoughts?

I don't know if the draft should get into defining what "idempotent" means: it has a well-defined mathematical definition, but one that seems to be less well-defined in protocol design. IMO, just use less ambiguous phrasing.

I would go with "safely replayable" to emphasize the attack aspect.

For what it's worth: RFC 7231, Section 4.2.2 of HTTP defines idempotent clearly:
"A request method is considered "idempotent" if the intended effect on the server of multiple identical requests with that method is the same as the effect for a single such request."
"safely repayable" - would need a little more context to explain why it is safe .. maybe you could copy part of this definition.

Can we cite that section of RFC 7231 for idempotency, perhaps even quote the meaning that @gorryfair has copied here, and be done with this?

I think I'm not being clear about my objection here. I know what idempotent means, and agree that RFC 7231 captures it. ("A request method is considered "idempotent" if the intended effect on the server of multiple identical requests with that method is the same as the effect for a single such request.")

The issue is with an idempotent request that is repeated *with a different request in between.* DELETE, for instance, will do the same thing if multiple identical requests are performed, but if a PUT or POST occurs in between, the second DELETE will remove a different object than the one from the first DELETE.

Let's say the user does this:

PUT /object (with content 1)
DELETE /object
PUT /object (with content 2)

The state of /object after this sequence is that it exists with content 2.

Idempotency admits the following:

PUT /object (with content 1)
DELETE /object
PUT /object (with content 2)
REPLAY: DELETE /object

The state of /object after this sequence is that it does not exist. Similarly:

PUT /object (with content 1)
PUT /object (with content 2)
REPLAY: PUT /object (with content 1)

The state of /object after this sequence is that it exists with content 1.

Replay safety would mean that the state after a sequence including a replayed request is identical to the state without the replayed request.

Then this is what I thought you meant in the first place!  Then I agree about "safely replayable" and will make a PR that explains what this is, and replaces idempotent with "safely replayable" everywhere.

This seems to me to be a layering-perspective. I think we know how to fix this by using uniquely identifiable transactions e.g. delete "last" is never idempotent; whereas delete "123462" is because executing it twice has no effect; however ordering still has effect - because if "123462" doesn't exist when asked to delete this has no effect. As for me, I think we don't teach how to use datagrams/messages here.

So I don't mind what words are used - or where this refers to the transport service offered or the use of the transport service. A proposed change is likely good for me.