Fewer normative references?

_From Genart review: https://mailarchive.ietf.org/arch/msg/taps/L7_Aopnvp-xn9aEQ_zI9kgxts68/_

I was a bit surprised that the TCP, SCTP and QUIC RFCs were not
referenced.  But more generally, I am unsure about the criteria used to
tell normative references from informative.  To me, BCP14 and
draft-ietf-taps-arch are the only two normative things, the rest could
be made informative.

Regarding referencing TCP, SCTP and QUIC RFCs, the fact that he (and others) gave this a very close review yet didn't miss are reference in the actual text tells me that this is okay.
Regarding normative references, I tend to agree...  but I'd feel better about @britram making these decisions  :-)

[I-D.ietf-taps-arch] is normative.
As are [RFC2119] [RFC8174]

It has normative keywords in our ID that are referencing the spec [RFC8084] (someone decide if that is then normative!)

====
To me, these seem informative:
[RFC8303] is only cited in an appendix
[RFC8446] [RFC4941] are only examples
===
So then are the transport protocols normative, even though they have very little notion of an API in the spec?
- If we do add normative references for all protocols, then we ought to also for UDP, and keep normative:[RFC8085]


For interface, I tend to agree that arch/2119/8174 should remain normative, and everything else can be informative. The refs to the transport protocols he's missing flow through 8095 (which is informative).