secdir: I-D Nits: Obsolete references

15 from this [secdir review](https://mailarchive.ietf.org/arch/msg/secdir/yUaaas7vohCXnERvfU7DvlILh4U/).  Trimmed to only outdated references because the outdated ones will be auto-fixed with a new version of -implementation.

What follows are the I-D nits references to check. Some of these might be on purpose:

 ** Obsolete normative reference: RFC 4941 (Obsoleted by RFC 8981)

 -- Obsolete informational reference (is this intentional?): RFC 5245
    (Obsoleted by RFC 8445, RFC 8839)

    NOTE:

    The PR only replaced 5245 with 8445. Unsure if you should also want to add a reference to 8839.

 -- Obsolete informational reference (is this intentional?): RFC 5766
    (Obsoleted by RFC 8656)